---
layout: default
title: The Copenhagen Rust Group
---

    <div class="row install-row">
      <div class="col-md-12">
	<p style="float: right" class="update-timestamp">Last updated: {{ site.time | date_to_long_string }}</p>
        <p class="pitch">
	  We are a Copenhagen-based group of programmers enthusiastic
	  about the programming language <b>Rust</b>, a systems
	  programming language developed by Mozilla.
        </p>
      </div>
    </div>

    <div class="row code-row">
      <div class="col-md-7">
	<p>We organize events, meetups and hackathons, so stay tuned
	on this site for future events!</p>
	<h2>Upcoming events</h2>
	<article class="event">
	  <div class="event-date">
	    <p class="event-month">May</p>
            <p class="event-day">23</p>
            <p class="event-year">2018</p>
	  </div>
	  <div class="event-desc">
            <h3 class="event-desc-header">
	      <code>We're back! And it's fuzzy!</code>
	    </h3>

	    <dl class="dl-horizontal">
	      <dt>Where</dt>
	      <dd>Jobindex, Holger Danskes Vej 91, Frederiksberg</dd>

	      <dt>When</dt>
	      <dd>18:00&mdash;22:00</dd>
	    </dl>

	    <p>After a long hiatus, we are starting up again with Rust hack nights.
        Our first meeting of 2018 will feature a presentation titled <b>Rust and
            Fuzz Testing</b>, delivered by the good folks at  <a
            href="https://seasoned.software"
            target="_blank">Seasoned.Software</a>:</p>

        <p><blockquote style="font-style: italic">At <a href="https://seasoned.software"
            target="_blank">Seasoned.Software</a> we build a CI platform that
        uses fuzz testing to improve the quality of your software projects. We
        love Rust and we use it for most of our platform, and we support Rust
        projects as first class citizens. We will give a brief presentation on
        how Rust helped us build our platform, which problems we have
        encountered so far, and how we solved them. Afterwards we will explain
        why you should fuzz test your own projects and show how to set up fuzz
        testing for your own Rust projects.</blockquote></p>

        <p>The presentation is expected to start around 19:00, but you are
        welcome to get in early from 18:00.</p>
         </div>
	</article>

      </div>
      <div class="col-md-5">
	<a class="btn btn-primary btn-block"
	   href="https://chat.mibbit.com/?server=irc.mozilla.org&channel=#rust-cph"
	   target="_blank">#rust-cph</a>

	<p>Join us on our IRC channel <code>#rust-cph</code> on Mozilla's server
	  irc.mozilla.org. We'll use this space to coordinate future
	  meetups and for general Rust-related chat.</p>

	<h2>Past events</h2>
	<article class="event">
	  <div class="event-date">
	    <p class="event-month">May</p>
            <p class="event-day">17</p>
            <p class="event-year">2017</p>
	  </div>
	  <div class="event-desc">
            <h3 class="event-desc-header">
	      <code>Rust Hack Night #5</code>
	    </h3>

	    <dl class="dl-horizontal">
	      <dt>Where</dt>
	      <dd>PROSA, KBH, ADA Vester Farimagsgade 37A</dd>

	      <dt>When</dt>
	      <dd>18:00&mdash;22:00</dd>
	    </dl>

	    <p>We get together to hack on our own Rust projects, talk
	    Rust and have fun.</p>

	    <p>This time the event is hosted at PROSA and we would be
	    happy to have one or two presentations on Rust-y
	    topics. If you'd like to give a talk, just write
	    to <kbd>laumann.thomas</kbd><!-- space
	    --><kbd>@</kbd><!-- more space --><kbd>gmail.com</kbd> and
	    we will put it on the program.</p>
         </div>
	</article>


	<article class="event">
	  <div class="event-date">
	    <p class="event-month">Apr</p>
            <p class="event-day">26</p>
            <p class="event-year">2017</p>
	  </div>
	  <div class="event-desc">
            <h3 class="event-desc-header">
	      <code>Yet Another Hack Night</code>
	    </h3>

	    <dl class="dl-horizontal">
	      <dt>Where</dt>
	      <dd>Kronprinsessegade 54, 5th floor</dd>

	      <dt>When</dt>
	      <dd>18:00&mdash;22:00</dd>
	    </dl>

	    <p>We get together to hack on our own Rust projects, talk
	    Rust and have fun.</p>

	    <p>NEW! Call for talks!</p>

	    <p>If you'd like to give a talk, just write
	    to <kbd>laumann.thomas</kbd><!-- space
	    --><kbd>@</kbd><!-- more space --><kbd>gmail.com</kbd> and
	      we will put it on the program.</p>

	    <p><b>UPDATE</b> We watched Raph
	    Levien's <a href="https://www.youtube.com/watch?v=SKtQgFBRUvQ">presentation</a>
	    on the <a href="https://github.com/google/xi-editor">Xi
	    editor</a>, and spent some time trying to figure out if
	      any of the linked frontends worked.</p>

	    <p><a href="https://github.com/mbudde">mbudde</a>
	    and <a href="https://github.com/laumann">laumann</a> also
	    hacked on redshift-rs, cleaning up some code and enabling
	    it to read a user's <code>~/.config/redshift.conf</code>
	    configuration.</p>
         </div>
	</article>

	<article class="event">
	  <div class="event-date">
	    <p class="event-month">Mar</p>
            <p class="event-day">30</p>
            <p class="event-year">2017</p>
	  </div>
	  <div class="event-desc">
            <h3 class="event-desc-header">
	      <code><b>cph_rs.hack_night();</b></code>
	    </h3>

	    <dl class="dl-horizontal">
	      <dt>Where</dt>
	      <dd>Snaregade 12</dd>

	      <dt>When</dt>
	      <dd>18:00&mdash;22:00</dd>
	    </dl>

	    <p>We get together to hack on our own Rust projects, talk
	    Rust and have fun.</p>

	    <p>Note that it is a different location than past
	    events. We thought it'd be fun to move it around a bit and
	    for this event, we will be hosted at Zendesk. Thanks
	    to <a href="https://github.com/jbdietrich"><code>jdietrich</code></a>
	    for setting it up!</p>

	    <p>If you want to join, just
	    contact  <kbd>laumann.thomas<span><!-- space
	    --></span>@<span><!-- more space
	    --></span>gmail.com</kbd>, or let us know
	    on <code><a href="https://chat.mibbit.com/?server=irc.mozilla.org&channel=#rust-cph"
	    target="_blank"><b>#rust-cph</b></a></code>.</p>

          </div>
	</article>

	<article class="event">
	  <div class="event-date">
	    <p class="event-month">Feb</p>
            <p class="event-day">23</p>
            <p class="event-year">2017</p>
	  </div>
	  <div class="event-desc">
            <h3 class="event-desc-header">
	      <img src="/img/hack-night.png" style="width: 100%">
	    </h3>

	    <dl class="dl-horizontal">
	      <dt>Where</dt>
	      <dd>Kronprinsessegade 54, 5th floor</dd>

	      <dt>When</dt>
	      <dd>18:00</dd>
	    </dl>

	    <p>We get together to hack on our own Rust projects, talk
	    Rust and have fun.</p>

	    <p>If you want to join, just
	    contact  <kbd>laumann.thomas<span><!-- space
	    --></span>@<span><!-- more space
	    --></span>gmail.com</kbd>, or let us know
	    on <code><a href="https://chat.mibbit.com/?server=irc.mozilla.org&channel=#rust-cph"
	    target="_blank">#rust-cph</a></code>.</p>
          </div>
	</article>
	<article class="event">
	  <div class="event-date">
	    <p class="event-month">Jan</p>
            <p class="event-day">24</p>
            <p class="event-year">2017</p>
	  </div>
	  <div class="event-desc">
            <h3 class="event-desc-header">Hack Night</h3>

	    <dl class="dl-horizontal">
	      <dt>Where</dt>
	      <dd>Kronprinsessegade 54, 5th floor</dd>

	      <dt>When</dt>
	      <dd>18:00</dd>
	    </dl>

	    <p>Merry Christmas! Almost a year has gone by since the
	    last meetup&mdash;but it is time again.</p>

	    <p>Anyone is welcome. If you want to join, just contact  <kbd>laumann.thomas<span><!-- space --></span>@<span><!-- more space --></span>gmail.com</kbd></p>

	    <p><strong>UPDATE</strong> An enjoyable evening working on
	      individual projects. Among other
	      things, <a href="https://github.com/laumann">laumann</a>
	      added command-line arguments
	      to <a href="https://github.com/laumann/redshift-rs">redshift-rs</a>,
	      a <a href="http://jonls.dk/redshift/">Redshift</a>
	      clone (using <a href="https://crates.io/crates/docopt">docopt</a>).</p>

	    <p>We discussed implementing custom iterators
	      for parsing emojis in text, and how to use
	      the <code>?</code> operator that was stabilized
	    in <a href="https://blog.rust-lang.org/2016/11/10/Rust-1.13.html">Rust 1.13</a>.
	    </p>

	    <!--   We discussed implementing custom iterators and -->
	    <!-- the <code>?</code> operator  -->

          </div>
	</article>

	<article class="event">
	  <div class="event-date">
	    <p class="event-month">Feb</p>
            <p class="event-day">17</p>
            <p class="event-year">2016</p>
	  </div>
	  <div class="event-desc">
            <h3 class="event-desc-header">Hackathon</h3>

	    <dl class="dl-horizontal">
	      <dt>Where</dt>
	      <dd>Kronprinsessegade 54, 5th floor</dd>

	      <dt>When</dt>
	      <dd>18:00</dd>
	    </dl>

	    <p>Riding the wave from the smashing success (and pizza)
	    of the first Hackathon, the next event is on the
	    horizon. To find a date in February, we have the
	    following <a href="http://doodle.com/poll/n3rbf6b97fw2n334">doodle</a>
	    (it is closed now). Just select the days that suit you,
	    and we will make a decision by the end of next week.</p>

	    <p>Anyone is welcome, regardless of Rust proficiency (in
	    fact, the hackathons are great places to pick up new
	    knowledge fast).</p>

	    <p>For any questions just shoot an e-mail to <kbd>laumann.thomas<span><!-- space --></span>@<span><!-- more space --></span>gmail.com</kbd></p>
          </div>
	</article>

	<article class="event">
	  <div class="event-date">
	    <p class="event-month">Jan</p>
            <p class="event-day">13</p>
            <p class="event-year">2016</p>
	  </div>
	  <div class="event-desc">
            <h3 class="event-desc-header">Hackathon</h3>

	    <dl class="dl-horizontal">
	      <dt>Where</dt>
	      <dd>Kronprinsessegade 54, 5th floor</dd>

	      <dt>When</dt>
	      <dd>18:00</dd>
	    </dl>

	    <p>We get together to hack some Rust. If you would like to attend, please let us know by sending an e-mail to <kbd>laumann.thomas<span><!-- space --></span>@<span><!-- more space --></span>gmail.com</kbd></p>
          </div>
	</article>

	<article class="event">
	  <div class="event-date">
	    <p class="event-month">May</p>
            <p class="event-day">15</p>
            <p class="event-year">2015</p>
	  </div>
	  <div class="event-desc">
            <h3 class="event-desc-header">Rust 1.0 Release Party</h3>

	    <dl class="dl-horizontal">
	      <dt>Where</dt>
	      <dd>Robocat office, Pilestræde 43, 2nd floor</dd>

	      <dt>When</dt>
	      <dd>18:00</dd>
	    </dl>

	    <p>Along with <a href="https://users.rust-lang.org/t/rust-1-0-launch-event-details-action-required-for-event-organizers/1025/15">other Rust-enthusiastic groups</a>, we had a Rust 1.0 release party, with t-shirts and everything! Link to the <a href="https://www.eventbrite.com/e/copenhagen-rust-launch-party-tickets-16663376608?utm_campaign=new_attendee&utm_medium=email&utm_source=eb_email&utm_term=event_name">event</a>.</p>
          </div>
	</article>

	<article class="event">
	  <div class="event-date">
	    <p class="event-month">Mar</p>
            <p class="event-day">18</p>
            <p class="event-year">2015</p>
	  </div>
	  <div class="event-desc">
            <h3 class="event-desc-header">Rust - Copenhagen Tech
            Polyglot Meetup</h3>

	    <dl class="dl-horizontal">
	      <dt>Where</dt>
	      <dd>Kronprinsessegade 54, 4th floor</dd>

	      <dt>When</dt>
	      <dd>19:00</dd>
	    </dl>

	    <p>A Rust event organized in collaboration with
	    the <a href="http://polyglots.dk">Copenhagen Tech
	    Polyglots</a>. We had a good evening talking all things
	    Rust, and, of course, stickers.  See the
	    event <a href="http://www.meetup.com/Copenhagen-Tech-Polyglots/events/220800093/">here</a>.</p>
          </div>
	</article>


      </div>
    </div>

  <!-- <script type="text/javascript"> -->
  <!--   {% include include.js %} -->

  <!--   include("https://cdn.jsdelivr.net/ace/1.1.3/noconflict/ace.js", function () { -->
  <!--     include("https://cdn.jsdelivr.net/ace/1.1.3/noconflict/mode-rust.js", function () { -->
  <!--       {% include editor.js %} -->
  <!--     }); -->
  <!--   }); -->

  <!--   {% include set_platform.js %} -->
  <!-- </script> -->
