---
layout: default
title: The Copenhagen Rust Group
---

    <div class="row install-row">
      <div class="col-md-12">
    <p style="float: right" class="update-timestamp">Last updated: {{ site.time | date_to_long_string }}</p>
        <p class="pitch">
      We are a Copenhagen-based group of programmers enthusiastic
      about the programming language <b>Rust</b>, a systems
      programming language developed by Mozilla.
        </p>
    <p>We organize monthly meetups (hack nights) so stay tuned on this site
    for future events!</p>
      </div>
    </div>

    <div class="row code-row">
      <div class="col-md-7">
            <h2>Upcoming events</h2>
            <article class="event">
                <div class="event-date">
                    <p class="event-month">February</p>
                    <p class="event-day">24</p>
                    <p class="event-year">2022</p>
                </div>
                <div class="event-desc">
                    <h3 class="event-desc-header">
                    Hack Night #24
                </h3>

                <dl class="dl-horizontal">
                    <dt>Where</dt>
                    <dd><strong>Langebrogade 6A, 1411 Copenhagen K</strong><dd>

                    <dt>When</dt>
                    <dd>18:00&mdash;21:30</dd>
                </dl>

                <p>We are happy to announce that <a href="https://adaptagency.com/">Adapt A/S</a> will host the next meetup in their offices on Thursday, February 24th. If you are able to participate please send an email to <kbd>frederik</kbd><!-- space --><kbd>@</kbd><!-- more space --><kbd>secondspectrum.com</kbd> to confirm your presence. Good mood and a new-found, or long-lasting, passionate interest in Rust are the only requirements for participation!
                </p>

                <p>Agenda:
                    <ul>
                        <li>18:05&mdash;18:15: Welcome back!</li>
                        <li>18:15&mdash;19:00: Talk by Blas Rodriguez Irízar: <a href="https://github.com/solana-labs/solana">Introduction to Solana Block-Chain Smart Contracts</a></li>
                        <li>19:00&mdash;19:45: Sandwiches sponsored by <a href="https://adaptagency.com/">Adapt A/S</a> + Rust Quiz and Prizes sponsored by <a href="https://twitter.com/fiberplane">Fiberplane</a></li>
                        <li>19:45&mdash;20:30: Talk by <a href="https://github.com/davidpdrsn">David Pedersen</a>: <a href="https://github.com/davidpdrsn/axum-live-view">axum-live-view</a> -- server render all the things
                        <li>20:30&mdash;: Hang out, hacking and networking
                    </ul>
                </p>
                <p>
                    We look forward to a great evening in your company!
                </p>
                </div>
            </article>

      </div>
      <div class="col-md-5">
    <h2>Mailing list</h2>
    <p><a class="btn btn-primary btn-block"
        href="https://lists.sr.ht/~laumann/cph-rs"
        target="_blank">Browse</a></p>

    <p>We have a mailing list on which all coordinating organizational
    communication takes place. Subscribe to receive updates on future hack
    nights. Post here if you have any suggestions, or want to give a talk at
    a hack night.</p>

    <p>To subscribe, send an e-mail to:

    <p style="text-align:
    center"><code>~laumann/cph-rs+subscribe@lists.sr.ht</code></p>

    <p>To unsubscribe, do
    the same, but replace <code>subscribe</code> with
    <code>unsubscribe</code>.</p>

    <hr />
    <h2>Matrix</h2>
    <a class="btn btn-primary btn-block" href="https://matrix.to/#/#rust-cph:matrix.org" target="_blank"><code>Join on Matrix</code></a>
    <p>Join us on Matrix: </p><p style="text-align:
    center"><a href="https://matrix.to/#/#rust-cph:matrix.org">https://matrix.to/#/#rust-cph:matrix.org</a></p>
      <p>Note that you need to create an account on some home server to join the room, but it should be available just by the URL.</p>


    <hr />

    <h2>Past events</h2>
        <article class="event">
          <div class="event-date">
            <p class="event-month">January</p>
                <p class="event-day">27</p>
                <p class="event-year">2022</p>
            </div>
            <div class="event-desc">
                <h3 class="event-desc-header">
                Hack Night #23
            </h3>

            <dl class="dl-horizontal">
                <dt>Where</dt>
                <dd><strong>Sundkaj 153, Pakhus 48, 2150 Nordhavn</strong><dd>

                <dt>When</dt>
                <dd>18:00&mdash;21:00</dd>
            </dl>

            <p>We are happy to announce that <a href="https://blackbird.online/">Blackbird</a> will host the next meetup in their offices on Thursday, January 27th. If you are able to participate please send an email to <kbd>frederik</kbd><!-- space --><kbd>@</kbd><!-- more space --><kbd>secondspectrum.com</kbd> to confirm your presence.
            </p>

            <p>Agenda:
                <ul>
                    <li>18:05&mdash;18:15: Welcome back!</li>
                    <li>18:15&mdash;19:00: Talk by Simon Vandel Sillesen & Co (<a href="https://blackbird.online/">Blackbird</a>): <a href="https://github.com/BlackbirdHQ/atat">ATAT: AT protocol abstractions in Rust</a></li>
                    <li>19:00&mdash;19:45: Pizza sponsored by Blackbird </li>
                    <li>19:45&mdash;: Hang out, hacking and networking
                </ul>
            </p>
            </div>
        </article>
        <article class="event">
          <div class="event-date">
            <p class="event-month">October</p>
                <p class="event-day">28</p>
                <p class="event-year">2021</p>
          </div>
          <div class="event-desc">
                <h3 class="event-desc-header">
                Hack Night #22
            </h3>

            <dl class="dl-horizontal">
              <dt>Where</dt>
              <dd><strong>Banemarksvej 2B, 2600 Glostrup (Connected Cars)</strong><dd>

              <dt>When</dt>
              <dd>19:00&mdash;22:00</dd>
            </dl>

            <p>We're back! Join us for the first hack night in 2021. If you plan to attend, please notify <kbd>frederik</kbd><!-- space --><kbd>@</kbd><!-- more space --><kbd>secondspectrum.com</kbd>.
            </p>

            <p>Agenda:
                  <ul>
            <li>19:05&mdash;19:15: Welcome back!</li>
            <li>19:15&mdash;20:00: Talk by Jorge Leitão (<a href="https://munindata.com">Munin Data</a>): <a href="https://github.com/jorgecarleitao/arrow2">Sound data engineering - from bits to DataFrames</a></li>
            <li>20:00&mdash;20:15: Snacking and networking </li>
            <li>20:15&mdash;21:00: Talk by <a href="https://github.com/davidpdrsn">David Pedersen</a> (Embark Studios & Tokio Core Team Member): <a href="https://github.com/tokio-rs/axum">How I joined Tokio and made a web framework in the process</a></li>
            <li>21:00&mdash;: Hang out and networking</li>
                  </ul>
            </p>

             </div>
        </article>
        <article class="event">
          <div class="event-date">
            <p class="event-month">January</p>
                <p class="event-day">29</p>
                <p class="event-year">2020</p>
          </div>
          <div class="event-desc">
                <h3 class="event-desc-header">
                Hack Night #21
            </h3>

            <dl class="dl-horizontal">
              <dt>Where</dt>
              <dd><strong>Vester Voldgade 8 (Omnio)</strong><dd>

              <dt>When</dt>
              <dd>18:00&mdash;22:00</dd>
            </dl>

            <p>Join us for the first hack night in 2020. If you plan to attend, please notify <kbd>laumann</kbd><!-- space --><kbd>@</kbd><!-- more space --><kbd>fastmail.com</kbd>.
            </p>

            <p>Agenda:
                  <ul>
            <li>18:15&mdash;19:00: Talk by Alice Ryhl: The Future is
                here</li>
            <li>19:00&mdash;19:15 Food and hanging out</li>
            <li>19:15&mdash;20:00: Talk by Jesper Steen Møller: <a href="https://github.com/rust-lang/rust/issues/45268#issuecomment-487768456">My tiny improvement in rustc</a></li>
                  </ul>
            </p>

             </div>
        </article>
    <article class="event">
      <div class="event-date">
        <p class="event-month">November</p>
            <p class="event-day">27</p>
            <p class="event-year">2019</p>
      </div>
      <div class="event-desc">
            <h3 class="event-desc-header">
            Hack Night #20
        </h3>

        <dl class="dl-horizontal">
          <dt>Where</dt>
          <dd><strong>Vester Voldgade 8 (Omnio)</strong><dd>

          <dt>When</dt>
          <dd>18:00&mdash;22:00</dd>
        </dl>

        <p>This will be the last hack night of 2019, and also the 20th we've held in total. If you plan to attend, please notify <kbd>laumann</kbd><!-- space --><kbd>@</kbd><!-- more space --><kbd>fastmail.com</kbd>.
        </p>

        <p>Agenda:
              <ul>
        <li>18:15&mdash;19:00: Talk by Fedor Logachev: Games Development in Rust (a follow-up on his first talk two months ago)</li>
        <li>19:00&mdash;19:15 Food and hanging out</li>
        <li>19:15&mdash;20:00: 2nd talk (open spot)</li>
              </ul>
        </p>

         </div>
    </article>
    <article class="event">
      <div class="event-date">
        <p class="event-month">October</p>
            <p class="event-day">30</p>
            <p class="event-year">2019</p>
      </div>
      <div class="event-desc">
            <h3 class="event-desc-header">
            Hack Night #19
        </h3>

        <dl class="dl-horizontal">
          <dt>Where</dt>
          <dd><strong>Vester Voldgade 8 (Omnio)</strong><dd>

          <dt>When</dt>
          <dd>18:00&mdash;22:00</dd>
        </dl>

        <p>Join us for another great evening of talks all things Rust-y and hanging
      out. This month's hack night will feature two talks, so there is no
      reason not to be there! If you plan to attend, please notify <kbd>laumann</kbd><!-- space --><kbd>@</kbd><!-- more space --><kbd>fastmail.com</kbd>.
        </p>

        <p>Agenda:
              <ul>
        <li>18:15&mdash;19:00: Talk by Gustav: Introduction to Entity-Component Systems in Rust</li>
        <li>19:00&mdash;19:15 Food and hanging out</li>
        <li>19:15&mdash;20:00: Talk spot: Still open</li>
              </ul>
        </p>

         </div>
    </article>
    <article class="event">
      <div class="event-date">
        <p class="event-month">September</p>
            <p class="event-day">25</p>
            <p class="event-year">2019</p>
      </div>
      <div class="event-desc">
            <h3 class="event-desc-header">
            Hack Night #18
        </h3>

        <dl class="dl-horizontal">
          <dt>Where</dt>
          <dd><strong>Vester Voldgade 8 (Omnio)</strong><dd>

          <dt>When</dt>
          <dd>18:00&mdash;22:00</dd>
        </dl>

        <p>Join us for another great evening of talks all things Rust-y and hanging
      out. This month's hack night will feature two talks, so there is no
      reason not to be there! If you plan to attend, please notify <kbd>laumann</kbd><!-- space --><kbd>@</kbd><!-- more space --><kbd>fastmail.com</kbd>.
        </p>

        <p>Agenda:
              <ul>
        <li>18:15&mdash;19:00: Talk by Valdemar Erk: Generating comprehensive bindings for Futhark in
Rust </li>
        <li>19:00&mdash;19:15 Food and hanging out</li>
        <li>19:15&mdash;20:00: Talk by Fedor Logachev: Games Development in Rust</li>
              </ul>
        </p>

         </div>
    </article>
    <article class="event">
      <div class="event-date">
        <p class="event-month">August</p>
            <p class="event-day">28</p>
            <p class="event-year">2019</p>
      </div>
      <div class="event-desc">
            <h3 class="event-desc-header">
            Hack Night #17
        </h3>

        <dl class="dl-horizontal">
          <dt>Where</dt>
          <dd><strong>Vester Voldgade 8 (Omnio)</strong><dd>

          <dt>When</dt>
          <dd>18:00&mdash;22:00</dd>
        </dl>

        <p>After a two-month summer hiatus, we're back!
          Join us for another great evening of talks all things Rust-y and
          hanging out. We have an <strong>open call for talks</strong>.  Do you
          want to give a presentation on your awesome Rust work? Write to
          <kbd>laumann</kbd><!-- space
                  --><kbd>@</kbd><!-- more space --><kbd>fastmail.com</kbd>, and he
          will be very happy to put your talk on the agenda.</p>

        <p>Agenda:
              <ul>
        <li>18:15&mdash;19:30: Talk(s)</li>
        <li>19:30&mdash;22:00 Food and hanging out</li>
              </ul>
        </p>

         </div>
    </article>
    <article class="event">
      <div class="event-date">
        <p class="event-month">May</p>
            <p class="event-day">29</p>
            <p class="event-year">2019</p>
      </div>
      <div class="event-desc">
            <h3 class="event-desc-header">
            Hack Night #16
        </h3>

        <dl class="dl-horizontal">
          <dt>Where</dt>
          <dd><strong>Vester Voldgade 8 (Omnio)</strong><dd>

          <dt>When</dt>
          <dd>18:00&mdash;22:00</dd>
        </dl>

      <p>The sixteenth hack night for the Copenhagen Rust Group is upon us!
      Join us for another great evening of talks all things Rust-y and
      hanging out. We have an <strong>open call for talks</strong>.  Do you
      want to give a presentation on your awesome Rust work? Write to
      <kbd>laumann</kbd><!-- space
        --><kbd>@</kbd><!-- more space --><kbd>fastmail.com</kbd>, and he
        will be very happy to put your talk on the agenda.</p>

      <p>Agenda:
          <ul>
          <li>18:15&mdash;19:30: Talk by <a href="https://ryhl.io/">Alice
                  Ryhl</a> on
              <strong>Futures in Rust</strong></li>
              <li>19:30&mdash;22:00 Food and hanging out</li>
          </ul>
      </p>

         </div>
    </article>
    <article class="event">
      <div class="event-date">
        <p class="event-month">April</p>
            <p class="event-day">25</p>
            <p class="event-year">2019</p>
      </div>
      <div class="event-desc">
            <h3 class="event-desc-header">
            Hack Night #15
        </h3>

        <dl class="dl-horizontal">
          <dt>Where</dt>
          <dd>Sundkaj 7, Nordhavn (Omnio)<dd>

          <dt>When</dt>
          <dd>18:00&mdash;22:00</dd>
        </dl>

      <p>The fifteenth hack night for the Copenhagen Rust Group is upon us!
      Join us for another great evening of talks all things Rust-y and
      hanging out. We have an <strong>open call for talks</strong>.  Do you
      want to give a presentation on your awesome Rust work? Write to
      <kbd>laumann</kbd><!-- space
        --><kbd>@</kbd><!-- more space --><kbd>fastmail.com</kbd>, and he
        will be very happy to put your talk on the agenda.</p>

      <p>Agenda:
          <ul>
          <li>18:15&mdash;19:30: Talk by <a
                  href="https://github.com/keisrk">Kei
                      Shirakizawa</a> on "Wrapping <a
                  href="http://snap7.sourceforge.net/">snap7</a> as
          a Rust crate."</li>
              <li>19:30&mdash;22:00 Food and hanging out</li>
          </ul>
      </p>

         </div>
    </article>
    <article class="event">
      <div class="event-date">
        <p class="event-month">March</p>
            <p class="event-day">28</p>
            <p class="event-year">2019</p>
      </div>
      <div class="event-desc">
            <h3 class="event-desc-header">
            Hack Night #14
        </h3>

        <dl class="dl-horizontal">
          <dt>Where</dt>
          <dd>Sundkaj 7, Nordhavn (Omnio)<dd>

          <dt>When</dt>
          <dd>18:00&mdash;22:00</dd>
        </dl>

      <p>Join us when we, for the third time in 2019, get together and talk
      and hack some Rust! We have an <strong>open call for talks</strong>.
      Do you want to give a presentation on your awesome Rust work? Write to
      <kbd>laumann</kbd><!-- space
        --><kbd>@</kbd><!-- more space --><kbd>fastmail.com</kbd>, and he
        will be very happy to put your talk on the agenda.</p>

      <p>Agenda:
          <ul>
          <li>18:30&mdash;19:30: Talk by <strong>TBA</strong></li>
              <li>19:30&mdash;22:00 Food and hanging out</li>
          </ul>

      <p><strong>UPDATE</strong> Despite no announced talks, we ended up
      with two talks (!) - <a href="https://github.com/laumann">laumann</a>
      gave a talk on <a href="https://pijul.org/">Pijul</a>, a VCS that has
      explicit handling of conflicts based in category theory, fast
      algorithms and is written in Rust!
      </p>
      <p>

      Martin (or <code>|cos|</code>) followed up with a talk on deploying
      Rust code on Android, going through the steps to call dynamic linkable
      libraries from Java, via JNI.
      </p>
      </p>

         </div>
    </article>
    <article class="event">
      <div class="event-date">
        <p class="event-month">Februray</p>
            <p class="event-day">28</p>
            <p class="event-year">2019</p>
      </div>
      <div class="event-desc">
            <h3 class="event-desc-header">
            Hack Night #<code>0xC</code>
        </h3>

        <dl class="dl-horizontal">
          <dt>Where</dt>
          <dd>Sundkaj 7, Nordhavn (Omnio)<dd>

          <dt>When</dt>
          <dd>18:00&mdash;22:00</dd>
        </dl>

      <p>For the second time in a row, we will meet on the last day of the
      month! We have an <strong>open call for talks</strong>. Do you want to
      give a presentation on your awesome Rust work? Write to <kbd>laumann</kbd><!-- space
        --><kbd>@</kbd><!-- more space --><kbd>fastmail.com</kbd>, and he
        will be very happy to put your talk on the agenda.</p>

      <p>Agenda:
          <ul>
              <li>18:30&mdash;19:30: Talk by <a
                  href="https://github.com/liufuyang">Fuyang Liu</a>
              on <code>rust-nb</code>:
          <a
                  href="https://github.com/liufuyang/rust-nb">A
                  Simple Naive Bayes Model in Rust</a></li>
              <li>19:30&mdash;22:00 Food and hanging out</li>
          </ul>
      </p>

         </div>
    </article>
    <article class="event">
      <div class="event-date">
        <p class="event-month">January</p>
            <p class="event-day">31</p>
            <p class="event-year">2019</p>
      </div>
      <div class="event-desc">
            <h3 class="event-desc-header">
          Hack Night #12
        </h3>

        <dl class="dl-horizontal">
          <dt>Where</dt>
          <dd>Sundkaj 7, Nordhavn (Omnio)<dd>

          <dt>When</dt>
          <dd>18:00&mdash;22:00</dd>
        </dl>

      <p>We skip the December Hack Night, and will reconvene again in the
      New Year of 2019. The next hack night will feature a presentation by
      James Dietrich on porting the Ruby gem <a
      href="https://github.com/github/scientist">scientist</a> to Rust.</p>

      <p>Agenda:
          <ul>
              <li>18:30&mdash;19:30: Talk by <a
                  href="https://github.com/jbdietrich">James
                  Dietrich</a>: <strong>Getting Closure on
                  Scientist</strong></li>
              <li>19:30&mdash;22:00 Food and hanging out</li>
          </ul>
      </p>

      <p><strong>UPDATE</strong> Thanks to everyone that showed up! A lot of
      new faces and some veterans. We had a great night with pizza and
      James entertaining everybody with his insights into closures in Rust.
      The <a href="/assets/closure_presentation.pdf">slides are here</a>.
      </p>

         </div>
    </article>
    <article class="event">
      <div class="event-date">
        <p class="event-month">November</p>
            <p class="event-day">29</p>
            <p class="event-year">2018</p>
      </div>
      <div class="event-desc">
            <h3 class="event-desc-header">
          Hack Night #11
        </h3>

        <dl class="dl-horizontal">
          <dt>Where</dt>
          <dd>Sundkaj 7, Nordhavn (Omnio)<dd>

          <dt>When</dt>
          <dd>18:00&mdash;22:00</dd>
        </dl>

      <p>November's hack night will take place at Omnio in Nordhavn, we'll try
      to have food sponsored by Omnio.</p>

      <p>Agenda:
          <ul>
              <li>18:30&mdash;19:30: Talk by <a href="https://github.com/cbourjau">Christian Bourjau</a></li>
              <li>19:30&mdash;22:00 Food and hanging out</li>
          </ul>
      </p>

         </div>
    </article>
    <article class="event">
      <div class="event-date">
        <p class="event-month">October</p>
            <p class="event-day">25</p>
            <p class="event-year">2018</p>
      </div>
      <div class="event-desc">
            <h3 class="event-desc-header">
          Hack Night <code>0xa</code>
        </h3>

        <dl class="dl-horizontal">
          <dt>Where</dt>
          <dd>Snaregade 12 (Zendesk)<dd>

          <dt>When</dt>
          <dd>18:00&mdash;22:00</dd>
        </dl>

      <p>The tenth hack night will take place either at Zendesk downtown.</p>

      <p>This time, we'll <em>actually</em> try to get some food sponsored.
      Stand by for news on that!</p>

    <p>Agenda:
          <ul>
              <li>18:30&mdash;19:30: Talk: By <a href="https://github.com/retep007">retep007</a></li>
              <li>19:30&mdash;end Food and hanging out</li>
          </ul>
      </p>

         </div>
    </article>
    <article class="event">
      <div class="event-date">
        <p class="event-month">September</p>
            <p class="event-day">27</p>
            <p class="event-year">2018</p>
      </div>
      <div class="event-desc">
            <h3 class="event-desc-header">
          <code>Hack #Nine</code>
        </h3>

        <dl class="dl-horizontal">
          <dt>Where</dt>
          <dd>Energy Hub, Sundkaj 7, Nordhavn<dd>

          <dt>When</dt>
          <dd>18:00&mdash;22:00</dd>
        </dl>

      <p>The ninth hack night will take place in Nordhavn (at Omnio), this will
      be decided a little later. Going forward the default monthly hack night
      will be the <b>last Thursday of the month</b>.</p>

      <p>Submissions for talks are welcome! Are you working on an exciting Rust
      project? Have you discovered something in and around Rust that you'd like
      to share? Please talk about it!</p>

    <p>Agenda:
          <ul>
              <li>18:30&mdash;19:30: Talk: Parsers and State Machines in Rust</li>
              <li>19:30&mdash;end Food and hanging out</li>
          </ul>
      </p>

         </div>
    </article>

    <article class="event">
        <div class="event-date">
            <p class="event-month">August</p>
          <p class="event-day">30</p>
          <p class="event-year">2018</p>
        </div>
        <div class="event-desc">
          <h3 class="event-desc-header">
                <code>Hack Night #8</code>
            </h3>

            <dl class="dl-horizontal">
                <dt>Where</dt>
                <dd>Sundkaj 7<dd>

                    <dt>When</dt>
                    <dd>18:00&mdash;22:00</dd>
            </dl>

            <p>We will skip hack night in July, because it's holiday season and
                  return strong in August!</p>

      </div>
    </article>
    <article class="event">
      <div class="event-date">
        <p class="event-month">June</p>
            <p class="event-day">28</p>
            <p class="event-year">2018</p>
      </div>
      <div class="event-desc">
            <h3 class="event-desc-header">
          <code>Hack Night #7</code>
        </h3>

        <dl class="dl-horizontal">
          <dt>Where</dt>
          <dd>Energy Hub, Sundkaj 7<dd>

          <dt>When</dt>
          <dd>18:00&mdash;22:00</dd>
        </dl>

        <p>The next hack night will take place in Energy Hub in Nordhavn.</p>

        <p><code>laumann</code> will present a project he's been cooking for
        some time, otherwise the evening is open for hacking on your own
        projects in a cozy atmosphere.</p>

        <p>Snacks will be sponsored by <a href="https://omnio.net">Omnio</a>!</p>

         </div>
    </article>
    <article class="event">
      <div class="event-date">
        <p class="event-month">May</p>
            <p class="event-day">23</p>
            <p class="event-year">2018</p>
      </div>
      <div class="event-desc">
            <h3 class="event-desc-header">
          <code>We're back! And it's fuzzy!</code>
        </h3>

        <dl class="dl-horizontal">
          <dt>Where</dt>
          <dd>Jobindex, Holger Danskes Vej 91, Frederiksberg</dd>

          <dt>When</dt>
          <dd>18:00&mdash;22:00</dd>
        </dl>

        <p>After a long hiatus, we are starting up again with Rust hack nights.
        Our first meeting of 2018 will feature a presentation titled <b>Rust and
            Fuzz Testing</b>, delivered by the good folks at  <a
            href="https://seasoned.software"
            target="_blank">Seasoned.Software</a>:</p>

        <p><blockquote style="font-style: italic">At <a href="https://seasoned.software"
            target="_blank">Seasoned.Software</a> we build a CI platform that
        uses fuzz testing to improve the quality of your software projects. We
        love Rust and we use it for most of our platform, and we support Rust
        projects as first class citizens. We will give a brief presentation on
        how Rust helped us build our platform, which problems we have
        encountered so far, and how we solved them. Afterwards we will explain
        why you should fuzz test your own projects and show how to set up fuzz
        testing for your own Rust projects.</blockquote></p>

        <p>The presentation is expected to start around 19:00, but you are
        welcome to get in early from 18:00.</p>
         </div>
    </article>
    <article class="event">
      <div class="event-date">
        <p class="event-month">May</p>
            <p class="event-day">17</p>
            <p class="event-year">2017</p>
      </div>
      <div class="event-desc">
            <h3 class="event-desc-header">
          <code>Rust Hack Night #5</code>
        </h3>

        <dl class="dl-horizontal">
          <dt>Where</dt>
          <dd>PROSA, KBH, ADA Vester Farimagsgade 37A</dd>

          <dt>When</dt>
          <dd>18:00&mdash;22:00</dd>
        </dl>

        <p>We get together to hack on our own Rust projects, talk
        Rust and have fun.</p>

        <p>This time the event is hosted at PROSA and we would be
        happy to have one or two presentations on Rust-y
        topics. If you'd like to give a talk, just write
        to <kbd>laumann.thomas</kbd><!-- space
        --><kbd>@</kbd><!-- more space --><kbd>gmail.com</kbd> and
        we will put it on the program.</p>
         </div>
    </article>


    <article class="event">
      <div class="event-date">
        <p class="event-month">Apr</p>
            <p class="event-day">26</p>
            <p class="event-year">2017</p>
      </div>
      <div class="event-desc">
            <h3 class="event-desc-header">
          <code>Yet Another Hack Night</code>
        </h3>

        <dl class="dl-horizontal">
          <dt>Where</dt>
          <dd>Kronprinsessegade 54, 5th floor</dd>

          <dt>When</dt>
          <dd>18:00&mdash;22:00</dd>
        </dl>

        <p>We get together to hack on our own Rust projects, talk
        Rust and have fun.</p>

        <p>NEW! Call for talks!</p>

        <p>If you'd like to give a talk, just write
        to <kbd>laumann.thomas</kbd><!-- space
        --><kbd>@</kbd><!-- more space --><kbd>gmail.com</kbd> and
          we will put it on the program.</p>

        <p><b>UPDATE</b> We watched Raph
        Levien's <a href="https://www.youtube.com/watch?v=SKtQgFBRUvQ">presentation</a>
        on the <a href="https://github.com/google/xi-editor">Xi
        editor</a>, and spent some time trying to figure out if
          any of the linked frontends worked.</p>

        <p><a href="https://github.com/mbudde">mbudde</a>
        and <a href="https://github.com/laumann">laumann</a> also
        hacked on redshift-rs, cleaning up some code and enabling
        it to read a user's <code>~/.config/redshift.conf</code>
        configuration.</p>
         </div>
    </article>

    <article class="event">
      <div class="event-date">
        <p class="event-month">Mar</p>
            <p class="event-day">30</p>
            <p class="event-year">2017</p>
      </div>
      <div class="event-desc">
            <h3 class="event-desc-header">
          <code><b>cph_rs.hack_night();</b></code>
        </h3>

        <dl class="dl-horizontal">
          <dt>Where</dt>
          <dd>Snaregade 12</dd>

          <dt>When</dt>
          <dd>18:00&mdash;22:00</dd>
        </dl>

        <p>We get together to hack on our own Rust projects, talk
        Rust and have fun.</p>

        <p>Note that it is a different location than past
        events. We thought it'd be fun to move it around a bit and
        for this event, we will be hosted at Zendesk. Thanks
        to <a href="https://github.com/jbdietrich"><code>jdietrich</code></a>
        for setting it up!</p>

        <p>If you want to join, just
        contact  <kbd>laumann.thomas<span><!-- space
        --></span>@<span><!-- more space
        --></span>gmail.com</kbd>, or let us know
        on <code><a href="https://chat.mibbit.com/?server=irc.mozilla.org&channel=#rust-cph"
        target="_blank"><b>#rust-cph</b></a></code>.</p>

          </div>
    </article>

    <article class="event">
      <div class="event-date">
        <p class="event-month">Feb</p>
            <p class="event-day">23</p>
            <p class="event-year">2017</p>
      </div>
      <div class="event-desc">
            <h3 class="event-desc-header">
          <img src="/img/hack-night.png" style="width: 100%">
        </h3>

        <dl class="dl-horizontal">
          <dt>Where</dt>
          <dd>Kronprinsessegade 54, 5th floor</dd>

          <dt>When</dt>
          <dd>18:00</dd>
        </dl>

        <p>We get together to hack on our own Rust projects, talk
        Rust and have fun.</p>

        <p>If you want to join, just
        contact  <kbd>laumann.thomas<span><!-- space
        --></span>@<span><!-- more space
        --></span>gmail.com</kbd>, or let us know
        on <code><a href="https://chat.mibbit.com/?server=irc.mozilla.org&channel=#rust-cph"
        target="_blank">#rust-cph</a></code>.</p>
          </div>
    </article>
    <article class="event">
      <div class="event-date">
        <p class="event-month">Jan</p>
            <p class="event-day">24</p>
            <p class="event-year">2017</p>
      </div>
      <div class="event-desc">
            <h3 class="event-desc-header">Hack Night</h3>

        <dl class="dl-horizontal">
          <dt>Where</dt>
          <dd>Kronprinsessegade 54, 5th floor</dd>

          <dt>When</dt>
          <dd>18:00</dd>
        </dl>

        <p>Merry Christmas! Almost a year has gone by since the
        last meetup&mdash;but it is time again.</p>

        <p>Anyone is welcome. If you want to join, just contact  <kbd>laumann.thomas<span><!-- space --></span>@<span><!-- more space --></span>gmail.com</kbd></p>

        <p><strong>UPDATE</strong> An enjoyable evening working on
          individual projects. Among other
          things, <a href="https://github.com/laumann">laumann</a>
          added command-line arguments
          to <a href="https://github.com/laumann/redshift-rs">redshift-rs</a>,
          a <a href="http://jonls.dk/redshift/">Redshift</a>
          clone (using <a href="https://crates.io/crates/docopt">docopt</a>).</p>

        <p>We discussed implementing custom iterators
          for parsing emojis in text, and how to use
          the <code>?</code> operator that was stabilized
        in <a href="https://blog.rust-lang.org/2016/11/10/Rust-1.13.html">Rust 1.13</a>.
        </p>

        <!--   We discussed implementing custom iterators and -->
        <!-- the <code>?</code> operator  -->

          </div>
    </article>

    <article class="event">
      <div class="event-date">
        <p class="event-month">Feb</p>
            <p class="event-day">17</p>
            <p class="event-year">2016</p>
      </div>
      <div class="event-desc">
            <h3 class="event-desc-header">Hackathon</h3>

        <dl class="dl-horizontal">
          <dt>Where</dt>
          <dd>Kronprinsessegade 54, 5th floor</dd>

          <dt>When</dt>
          <dd>18:00</dd>
        </dl>

        <p>Riding the wave from the smashing success (and pizza)
        of the first Hackathon, the next event is on the
        horizon. To find a date in February, we have the
        following <a href="http://doodle.com/poll/n3rbf6b97fw2n334">doodle</a>
        (it is closed now). Just select the days that suit you,
        and we will make a decision by the end of next week.</p>

        <p>Anyone is welcome, regardless of Rust proficiency (in
        fact, the hackathons are great places to pick up new
        knowledge fast).</p>

        <p>For any questions just shoot an e-mail to <kbd>laumann.thomas<span><!-- space --></span>@<span><!-- more space --></span>gmail.com</kbd></p>
          </div>
    </article>

    <article class="event">
      <div class="event-date">
        <p class="event-month">Jan</p>
            <p class="event-day">13</p>
            <p class="event-year">2016</p>
      </div>
      <div class="event-desc">
            <h3 class="event-desc-header">Hackathon</h3>

        <dl class="dl-horizontal">
          <dt>Where</dt>
          <dd>Kronprinsessegade 54, 5th floor</dd>

          <dt>When</dt>
          <dd>18:00</dd>
        </dl>

        <p>We get together to hack some Rust. If you would like to attend, please let us know by sending an e-mail to <kbd>laumann.thomas<span><!-- space --></span>@<span><!-- more space --></span>gmail.com</kbd></p>
          </div>
    </article>

    <article class="event">
      <div class="event-date">
        <p class="event-month">May</p>
            <p class="event-day">15</p>
            <p class="event-year">2015</p>
      </div>
      <div class="event-desc">
            <h3 class="event-desc-header">Rust 1.0 Release Party</h3>

        <dl class="dl-horizontal">
          <dt>Where</dt>
          <dd>Robocat office, Pilestræde 43, 2nd floor</dd>

          <dt>When</dt>
          <dd>18:00</dd>
        </dl>

        <p>Along with <a href="https://users.rust-lang.org/t/rust-1-0-launch-event-details-action-required-for-event-organizers/1025/15">other Rust-enthusiastic groups</a>, we had a Rust 1.0 release party, with t-shirts and everything! Link to the <a href="https://www.eventbrite.com/e/copenhagen-rust-launch-party-tickets-16663376608?utm_campaign=new_attendee&utm_medium=email&utm_source=eb_email&utm_term=event_name">event</a>.</p>
          </div>
    </article>

    <article class="event">
      <div class="event-date">
        <p class="event-month">Mar</p>
            <p class="event-day">18</p>
            <p class="event-year">2015</p>
      </div>
      <div class="event-desc">
            <h3 class="event-desc-header">Rust - Copenhagen Tech
            Polyglot Meetup</h3>

        <dl class="dl-horizontal">
          <dt>Where</dt>
          <dd>Kronprinsessegade 54, 4th floor</dd>

          <dt>When</dt>
          <dd>19:00</dd>
        </dl>

        <p>A Rust event organized in collaboration with
        the <a href="http://polyglots.dk">Copenhagen Tech
        Polyglots</a>. We had a good evening talking all things
        Rust, and, of course, stickers.  See the
        event <a href="http://www.meetup.com/Copenhagen-Tech-Polyglots/events/220800093/">here</a>.</p>
          </div>
    </article>


      </div>
    </div>

  <!-- <script type="text/javascript"> -->
  <!--   {% include include.js %} -->

  <!--   include("https://cdn.jsdelivr.net/ace/1.1.3/noconflict/ace.js", function () { -->
  <!--     include("https://cdn.jsdelivr.net/ace/1.1.3/noconflict/mode-rust.js", function () { -->
  <!--       {% include editor.js %} -->
  <!--     }); -->
  <!--   }); -->

  <!--   {% include set_platform.js %} -->
  <!-- </script> -->
