---
layout: default
title: The Copenhagen Rust Group
---

    <div class="row install-row">
      <div class="col-md-12">
        <p class="pitch">
	  We are a Copenhagen-based group of programmers enthusiastic
	  about the programming language <b>Rust</b>, a systems
	  programming language developed by Mozilla.
        </p>
	<p>We organize events, meetups and hackathons, so stay tuned
	on this site for future events!</p>
      </div>
    </div>

    <div class="row code-row">
      <div class="col-md-7">
	<h2>Upcoming events</h2>
	<article class="event">
	  <div class="event-date">
	    <p class="event-month">Feb</p>
            <p class="event-day">?</p>
            <p class="event-year">2016</p>
	  </div>
	  <div class="event-desc">
            <h3 class="event-desc-header">Hackathon</h3>

	    <dl class="dl-horizontal">
	      <dt>Where</dt>
	      <dd>Kronprinsessegade 54, 5th floor</dd>

	      <dt>When</dt>
	      <dd>18:00</dd>
	    </dl>

	    <p>Riding the wave from the smashing success (and pizza)
	    from the first Hackathon, the next event is on the
	    horizon. To find a date in February, we have the
	    following <a href="http://doodle.com/poll/n3rbf6b97fw2n334">doodle</a>. Just
	    select the days that suit you, and we will make a decision
	    by the end of next week.</p>

	    <p>Anyone is welcome, regardless of Rust proficiency. In
	    fact, the hackathons are great places to pick up new
	    knowledge fast.</p>

	    <p>For any questions just shoot an e-mail to <kbd>laumann.thomas<span><!-- space --></span>@<span><!-- more space --></span>gmail.com</kbd></p>
          </div>
	</article>
      </div>
      <div class="col-md-5">
	<h2>Past events</h2>
	<article class="event">
	  <div class="event-date">
	    <p class="event-month">Jan</p>
            <p class="event-day">13</p>
            <p class="event-year">2016</p>
	  </div>
	  <div class="event-desc">
            <h3 class="event-desc-header">Hackathon</h3>

	    <dl class="dl-horizontal">
	      <dt>Where</dt>
	      <dd>Kronprinsessegade 54, 5th floor</dd>

	      <dt>When</dt>
	      <dd>18:00</dd>
	    </dl>

	    <p>We get together to hack some Rust. If you would like to attend, please let us know by sending an e-mail to <kbd>laumann.thomas<span><!-- space --></span>@<span><!-- more space --></span>gmail.com</kbd></p>
          </div>
	</article>

	<article class="event">
	  <div class="event-date">
	    <p class="event-month">May</p>
            <p class="event-day">15</p>
            <p class="event-year">2015</p>
	  </div>
	  <div class="event-desc">
            <h3 class="event-desc-header">Rust 1.0 Release Party</h3>

	    <dl class="dl-horizontal">
	      <dt>Where</dt>
	      <dd>Robocat office, Pilestræde 43, 2nd floor</dd>

	      <dt>When</dt>
	      <dd>18:00</dd>
	    </dl>

	    <p>Along with <a href="https://users.rust-lang.org/t/rust-1-0-launch-event-details-action-required-for-event-organizers/1025/15">other Rust-enthusiastic groups</a>, we had a Rust 1.0 release party, with t-shirts and everything! Link to the <a href="https://www.eventbrite.com/e/copenhagen-rust-launch-party-tickets-16663376608?utm_campaign=new_attendee&utm_medium=email&utm_source=eb_email&utm_term=event_name">event</a>.</p>
          </div>
	</article>

	<article class="event">
	  <div class="event-date">
	    <p class="event-month">Mar</p>
            <p class="event-day">18</p>
            <p class="event-year">2015</p>
	  </div>
	  <div class="event-desc">
            <h3 class="event-desc-header">Rust - Copenhagen Tech
            Polyglot Meetup</h3>

	    <dl class="dl-horizontal">
	      <dt>Where</dt>
	      <dd>Kronprinsessegade 54, 4th floor</dd>

	      <dt>When</dt>
	      <dd>19:00</dd>
	    </dl>

	    <p>A Rust event organized in collaboration with
	    the <a href="http://polyglots.dk">Copenhagen Tech
	    Polyglots</a>. We had a good evening talking all things
	    Rust, and, of course, stickers.  See the
	    event <a href="http://www.meetup.com/Copenhagen-Tech-Polyglots/events/220800093/">here</a>.</p>
          </div>
	</article>
      </div>
    </div>

  <!-- <script type="text/javascript"> -->
  <!--   {% include include.js %} -->

  <!--   include("https://cdn.jsdelivr.net/ace/1.1.3/noconflict/ace.js", function () { -->
  <!--     include("https://cdn.jsdelivr.net/ace/1.1.3/noconflict/mode-rust.js", function () { -->
  <!--       {% include editor.js %} -->
  <!--     }); -->
  <!--   }); -->

  <!--   {% include set_platform.js %} -->
  <!-- </script> -->
